<signup-page>
    <header>
        <img src="assets/img/freeze/logo-white.png" alt="" class="logo">
    </header>
    <div class="wrapper">
        <div class="col-md-3 col-sm-3 left-side">
            <ul class="step-tabs">
                <li class="active"><a class="step-tab" href="#step1" step-tab>ข้อมูลร้านค้า</a></li>
                <li><a class="step-tab" href="#step2" step-tab>ข้อมูลทางการเงิน</a></li>
                <li><a class="step-tab" href="#step3" step-tab>ที่อยู่รับส่งสินค้า</a></li>
                <li><a class="step-tab" href="#step4" step-tab>ติดต่อฝ่ายขาย</a></li>
                <li><a class="step-tab" href="/">ลงชื่อออก</a></li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-9 right-side">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="step1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 col-md-push-1">
                                <h1>ข้อมูลร้านค้า</h1>
                                <div class="form-group">
                                    <label class="control-label">ชื่อร้านค้า</label>

                                    <input ng-model="user.signupInfo.store.storeName" name="storeName" type="text" placeholder="ชื่อร้านค้า" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">ลงทะเบียนในนาม</label>
                                    <div style="display: flex;">
                                        <div style="width: 50%; margin-right: 4px;"><input sign-on-behalf-of type="radio" name="signOnbehalfOf" value="individual" checked /> บุคคล</div>
                                        <div style="width: 50%; margin-left: 4px;"><input sign-on-behalf-of type="radio" name="signOnbehalfOf" value="company" /> นิติบุคคล</div>
                                    </div>
                                </div>

                                <div ng-switch on="user.signOnbehalfOfSwitch">
                                    <div ng-switch-when="individual">
                                        <form id="storeIndividualRegisterForm">
                                            <div class="form-group">
                                                <label class="control-label">ชื่อ - นามสกุล ผู้ลงทะเบียน</label>
                                                <div style="display: flex;">
                                                    <input ng-model="user.signupInfo.store.individual.register.firstName" ng-model-options="{ updateOn: 'change' }" ng-change="user.updateStoreIndividualContactValues()" name="storeIndividualFirstName" type="text" placeholder="ชื่อ" class="form-control" style="margin-right: 4px;" required />
                                                    <input ng-model="user.signupInfo.store.individual.register.lastName" ng-model-options="{ updateOn: 'change' }" ng-change="user.updateStoreIndividualContactValues()" name="storeIndividualLastName" type="text" placeholder="นามสกุล" class="form-control" style="margin-left: 4px;" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">เลขบัตรประจำตัวประชาชน</label>
                                                <input ng-model="user.signupInfo.store.individual.register.citizenID" ng-model-options="{ updateOn: 'change' }" ng-change="user.updateStoreIndividualContactValues()" name="citizenID" type="text" placeholder="เลขบัตรประจำตัวประชาชน" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">เบอร์โทรศัพท์</label>
                                                        <input ng-model="user.signupInfo.store.individual.register.phone" ng-model-options="{ updateOn: 'change' }" ng-change="user.updateStoreIndividualContactValues()" name="storeIndividualPhone" type="text" placeholder="เบอร์โทรศัพท์" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">LINE ID</label>
                                                        <input ng-model="user.signupInfo.store.individual.register.lineID" ng-model-options="{ updateOn: 'change' }" ng-change="user.updateStoreIndividualContactValues()" name="storeIndividualLineID" type="text" placeholder="LINE ID" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">อีเมล</label>
                                                        <input ng-model="user.signupInfo.store.individual.register.email" ng-model-options="{ updateOn: 'change' }" ng-change="user.updateStoreIndividualContactValues()" name="storeIndividualEmail" type="text" placeholder="อีเมล" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">Facebook</label>
                                                        <input ng-model="user.signupInfo.store.individual.register.facebook" ng-model-options="{ updateOn: 'change' }" ng-change="user.updateStoreIndividualContactValues()" name="storeIndividualFacebook" type="text" placeholder="Facebook" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="form-group">
                                            <input store-individual-switch-contact-same-register ng-model="user.signupInfo.store.individual.isContactSameRegister" type="checkbox" /> ผู้ติดต่อชื่อเดียวกันกับผู้ลงทะเบียน
                                        </div>
                                        <form id="storeIndividualContactForm">
                                            <div class="form-group">
                                                <label class="control-label">ชื่อ - นามสกุล ผู้ติดต่อ</label>
                                                <div style="display: flex;">
                                                    <input ng-model="user.signupInfo.store.individual.contact.firstName" name="storeIndividualContactFirstName" type="text" placeholder="ชื่อ" class="form-control" style="margin-right: 4px;" required />
                                                    <input ng-model="user.signupInfo.store.individual.contact.lastName" name="storeIndividualContactLastName" type="text" placeholder="นามสกุล" class="form-control" style="margin-left: 4px;" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">เลขบัตรประจำตัวประชาชน</label>
                                                <input ng-model="user.signupInfo.store.individual.contact.citizenID" name="storeIndividualContactCitizenID" type="text" placeholder="เลขบัตรประจำตัวประชาชน" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">เบอร์โทรศัพท์</label>
                                                        <input ng-model="user.signupInfo.store.individual.contact.phone" name="storeIndividualContactPhone" type="text" placeholder="เบอร์โทรศัพท์" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">LINE ID</label>
                                                        <input ng-model="user.signupInfo.store.individual.contact.lineID" name="storeIndividualContactLineID" type="text" placeholder="LINE ID" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">อีเมล</label>
                                                        <input ng-model="user.signupInfo.store.individual.contact.email" name="storeIndividualContactEmail" type="text" placeholder="อีเมล" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">Facebook</label>
                                                        <input ng-model="user.signupInfo.store.individual.contact.facebook" name="storeIndividualContactFacebook" type="text" placeholder="Facebook" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div ng-switch-when="company">
                                        <form id="storeCompanyRegisterForm">
                                            <div class="form-group">
                                                <label class="control-label">ชื่อนิติบุคคล</label>
                                                <div style="display: flex;">
                                                    <select ng-model="user.signupInfo.store.company.register.companyPrefix" name="storeCompanyPrefix" class="form-control" style="width: 50%; margin-right: 4px;">
                                                        <option value="">เลือกคำนำหน้า</option>
                                                        <option value="บริษัท">บริษัท</option>
                                                        <option value="บริษัทเงินทุน">บริษัทเงินทุน</option>
                                                        <option value="บริษัทหลักทรัพย์">บริษัทหลักทรัพย์</option>
                                                        <option value="บริษัทเงินทุนหลักทรัพย์">บริษัทเงินทุนหลักทรัพย์</option>
                                                        <option value="บริษัทมหาชนจำกัด">บริษัทมหาชนจำกัด</option>
                                                        <option value="บริษัทจัดหางาน">บริษัทจัดหางาน</option>
                                                        <option value="บรรษัท">บรรษัท</option>
                                                        <option value="ห้างหุ้นส่วนจำกัด">ห้างหุ้นส่วนจำกัด</option>
                                                        <option value="ห้างหุ้นส่วนสามัญนิติบุคคล">ห้างหุ้นส่วนสามัญนิติบุคคล</option>
                                                        <option value="กิจการร่วมค้า">กิจการร่วมค้า</option>
                                                        <option value="มูลนิธิ">มูลนิธิ</option>
                                                        <option value="สมาคม">สมาคม</option>
                                                        <option value="สำนักงานผู้แทน">สำนักงานผู้แทน</option>
                                                        <option value="นิติบุคคลอาคารชุด">นิติบุคคลอาคารชุด</option>
                                                        <option value="คลีนิค">คลีนิค</option>
                                                        <option value="ภัตตาคาร">ภัตตาคาร</option>
                                                        <option value="ร้าน">ร้าน</option>
                                                        <option value="โรงงาน">โรงงาน</option>
                                                        <option value="โรงพยาบาล">โรงพยาบาล</option>
                                                        <option value="โรงพยาบาลสัตว์">โรงพยาบาลสัตว์</option>
                                                        <option value="โรงพิมพ์">โรงพิมพ์</option>
                                                        <option value="โรงไฟฟ้า">โรงไฟฟ้า</option>
                                                        <option value="โรงภาพยนตร์">โรงภาพยนตร์</option>
                                                        <option value="โรงรับจำนำ">โรงรับจำนำ</option>
                                                        <option value="โรงแรม">โรงแรม</option>
                                                        <option value="โรงเลื่อย">โรงเลื่อย</option>
                                                        <option value="โรงเลื่อยจักร">โรงเลื่อยจักร</option>
                                                        <option value="โรงสี">โรงสี</option>
                                                        <option value="วงดนตรี">วงดนตรี</option>
                                                        <option value="สถานพยาบาล">สถานพยาบาล</option>
                                                        <option value="สำนักงาน">สำนักงาน</option>
                                                        <option value="ห้างขายทอง">ห้างขายทอง</option>
                                                        <option value="ห้างขายยา">ห้างขายยา</option>
                                                        <option value="ห้องเสริมสวย">ห้องเสริมสวย</option>
                                                        <option value="ห้องอาหาร">ห้องอาหาร</option>
                                                        <option value="กอง">กอง</option>
                                                        <option value="กองทุน">กองทุน</option>
                                                        <option value="กองทุนรวม">กองทุนรวม</option>
                                                        <option value="กองทุนสำรองเลี้ยงชีพ">กองทุนสำรองเลี้ยงชีพ</option>
                                                        <option value="คณะ">คณะ</option>
                                                        <option value="คณะแพทย์">คณะแพทย์</option>
                                                        <option value="ชมรม">ชมรม</option>
                                                        <option value="ที่ทำการ">ที่ทำการ</option>
                                                        <option value="มหาวิทยาลัย">มหาวิทยาลัย</option>
                                                        <option value="โรงเรียน">โรงเรียน</option>
                                                        <option value="วิทยาลัย">วิทยาลัย</option>
                                                        <option value="ศูนย์">ศูนย์</option>
                                                        <option value="สถาบัน">สถาบัน</option>
                                                        <option value="สมาพันธ์">สมาพันธ์</option>
                                                        <option value="สภาตำบล">สภาตำบล</option>
                                                    </select>
                                                    <input ng-model="user.signupInfo.store.company.register.companyName" name="storeCompanyName" type="text" placeholder="ชื่อนิติบุคคล" class="form-control" style="width: 50%; margin-left: 4px;" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">เลขบัตรประจำตัวผู้เสียภาษี</label>
                                                <input ng-model="user.signupInfo.store.company.register.taxID" name="companyTaxID" type="text" placeholder="เลขบัตรประจำตัวผู้เสียภาษี" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">เบอร์โทรศัพท์</label>
                                                        <input ng-model="user.signupInfo.store.company.register.phone" name="storeCompanyPhone" type="text" placeholder="เบอร์โทรศัพท์" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">LINE ID</label>
                                                        <input ng-model="user.signupInfo.store.company.register.lineID" name="storeCompanyLineID" type="text" placeholder="LINE ID" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">อีเมล</label>
                                                        <input ng-model="user.signupInfo.store.company.register.email" name="storeCompanyEmail" type="text" placeholder="อีเมล" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">Facebook</label>
                                                        <input ng-model="user.signupInfo.store.company.register.facebook" name="storeCompanyFacebook" type="text" placeholder="Facebook" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            <label>ผู้ติดต่อ</label>
                                        </div>
                                        <form id="storeCompanyContactForm">
                                            <div class="form-group">
                                                <label class="control-label">ชื่อ - นามสกุล</label>
                                                <div style="display: flex;">
                                                    <input ng-model="user.signupInfo.store.company.contact.firstName" name="storeCompanyContactFirstName" type="text" placeholder="ชื่อ" class="form-control" style="margin-right: 4px;" required />
                                                    <input ng-model="user.signupInfo.store.company.contact.lastName" name="storeCompanyContactLastName" type="text" placeholder="นามสกุล" class="form-control" style="margin-left: 4px;" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">เลขบัตรประจำตัวประชาชน</label>
                                                <input ng-model="user.signupInfo.store.company.contact.citizenID" name="storeCompanyContactCitizenID" type="text" placeholder="เลขบัตรประจำตัวประชาชน" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">เบอร์โทรศัพท์</label>
                                                        <input ng-model="user.signupInfo.store.company.contact.phone" name="storeCompanyContactPhone" type="text" placeholder="เบอร์โทรศัพท์" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">LINE ID</label>
                                                        <input ng-model="user.signupInfo.store.company.contact.lineID" name="storeCompanyContactLineID" type="text" placeholder="LINE ID" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div style="display: flex;">
                                                    <div style="width: 50%; margin-right: 4px;">
                                                        <label class="control-label">อีเมล</label>
                                                        <input ng-model="user.signupInfo.store.company.contact.email" name="storeCompanyContactEmail" type="text" placeholder="อีเมล" class="form-control" required />
                                                    </div>
                                                    <div style="width: 50%; margin-left: 4px;">
                                                        <label class="control-label">Facebook</label>
                                                        <input ng-model="user.signupInfo.store.company.contact.facebook" name="storeCompanyContactFacebook" type="text" placeholder="Facebook" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-push-2">
                                <h1>สำเนาเอกสาร</h1>
                                <div ng-switch on="user.signOnbehalfOfSwitch">
                                    <div ng-switch-when="individual">
                                        <div class="form-group">
                                            <label class="control-label">สำเนาบัตรประชาชน</label>
                                            <input name="storeIndividualCitizenCard" type="file" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">สำเนาทะเบียนบ้าน</label>
                                            <input name="storeIndividuaHomeRegister" type="file" class="form-control" />
                                        </div>
                                    </div>
                                    <div ng-switch-when="company">
                                        <div class="form-group">
                                            <label class="control-label">สำเนาหนังสือรับรอง</label>
                                            <input name="storeCompanyCertificate" type="file" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">สำเนาทะเบียนการค้า</label>
                                            <input name="storeCompanyTradeRegister" type="file" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-5 col-md-push-1">
                                <div align="center" style="display: flex;">
                                    <button class="btn btn-lg btn-primary btn-save">บันทึก</button>
                                    <button class="btn btn-lg btn-primary btn-cancel">ยกเลิก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="step2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 col-md-push-1">
                                <h1>ข้อมูลทางการเงิน</h1>
                                <div class="form-group">
                                    <label class="control-label">ชื่อธนาคาร</label>
                                    <select ng-model="user.signupInfo.bank.bankName" class="form-control">
                                        <option value="">เลือกธนาคาร</option>
                                        <option value="001">ธนาคารแห่งประเทศไทย</option>
                                        <option value="002">ธ. กรุงเทพ จำกัด (มหาชน)</option>
                                        <option value="004">ธ. กสิกรไทย จำกัด (มหาชน)</option>
                                        <option value="005">ธ. เดอะรอยัลแบงก์อ๊อฟสกอตแลนด์ เอ็น.วี.</option>
                                        <option value="006">ธ. กรุงไทย จำกัด (มหาชน)</option>
                                        <option value="008">ธ. เจพีมอร์แกน เชส</option>
                                        <option value="009">ธ. โอเวอร์ซี-ไชนีสแบงกิ้งคอร์ปอเรชั่น จำกัด</option>
                                        <option value="010">ธ. แห่งโตเกียว-มิตซูบิชิ ยูเอฟเจ จำกัด</option>
                                        <option value="011">ธ. ทหารไทย จำกัด (มหาชน)</option>
                                        <option value="014">ธ. ไทยพาณิชย์ จำกัด (มหาชน)</option>
                                        <option value="015">ธ. นครหลวงไทย จำกัด (มหาชน)</option>
                                        <option value="017">ธ. ซิตี้แบงก์</option>
                                        <option value="018">ธ. ซูมิโตโม มิตซุย แบงกิ้ง คอร์ปอเรชั่น</option>
                                        <option value="020">ธ. สแตนดาร์ดชาร์เตอร์ด (ไทย) จำกัด (มหาชน)</option>
                                        <option value="022">ธ. ซีไอเอ็มบี ไทย จำกัด (มหาชน)</option>
                                        <option value="023">ธ. อาร์ เอช บี จำกัด</option>
                                        <option value="024">ธ. ยูโอบี จำกัด (มหาชน)</option>
                                        <option value="025">ธ. กรุงศรีอยุธยา จำกัด (มหาชน)</option>
                                        <option value="026">ธ. เมกะ สากลพาณิชย์ จำกัด (มหาชน)</option>
                                        <option value="027">ธ. แห่งอเมริกาเนชั่นแนลแอสโซซิเอชั่น</option>
                                        <option value="028">ธ. เครดิต อะกริกอล คอร์ปอเรทแอนด์อินเวสเมนท์แบงก์</option>
                                        <option value="029">ธ. อินเดียนโอเวอร์ซีส์</option>
                                        <option value="030">ธ. ออมสิน</option>
                                        <option value="031">ธ. ฮ่องกงและเซี่ยงไฮ้แบงกิ้งคอร์ปอเรชั่น จำกัด</option>
                                        <option value="032">ธ. ดอยซ์แบงก์</option>
                                        <option value="033">ธ. อาคารสงเคราะห์</option>
                                        <option value="034">ธ. เพื่อการเกษตรและสหกรณ์การเกษตร</option>
                                        <option value="035">ธ. เพื่อการส่งออกและนำเข้าแห่งประเทศไทย</option>
                                        <option value="039">ธ. มิซูโฮ คอร์ปอเรต จำกัด</option>
                                        <option value="045">ธ. บีเอ็นพี พารีบาส์</option>
                                        <option value="052">ธ. แห่งประเทศจีน จำกัด</option>
                                        <option value="065">ธ. ธนชาต จำกัด (มหาชน)</option>
                                        <option value="066">ธ. อิสลามแห่งประเทศไทย</option>
                                        <option value="067">ธ. ทิสโก้ จำกัด (มหาชน)</option>
                                        <option value="069">ธ. เกียรตินาคิน จำกัด (มหาชน)</option>
                                        <option value="070">ธ. ไอซีบีซี (ไทย) จำกัด (มหาชน)</option>
                                        <option value="071">ธ. ไทยเครดิต เพื่อรายย่อย จำกัด (มหาชน)</option>
                                        <option value="073">ธ. แลนด์ แอนด์ เฮ้าส์ จำกัด (มหาชน)</option>
                                        <option value="098">ธ. พัฒนาวิสาหกิจขนาดกลางและขนาดย่อมแห่งประเทศไทย</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">เลขที่บัญชี</label>
                                    <input ng-model="user.signupInfo.bank.accountNumber" name="bankAccountNumber" type="text" placeholder="เลขที่บัญชี" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">สาขา</label>
                                    <input ng-model="user.signupInfo.bank.bankBranch" name="bankAccountBranch" type="text" placeholder="สาขา" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">ประเภทบัญชี</label>
                                    <select ng-model="user.signupInfo.bank.accountType" class="form-control">
                                        <option>เลือกประเภท</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">ชื่อบัญชี</label>
                                    <input ng-model="user.signupInfo.bank.accountName" name="bankAccountName" type="text" placeholder="ชื่อบัญชี" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-5 col-md-push-1">
                                <div align="center" style="display: flex;">
                                    <button class="btn btn-lg btn-primary btn-save">บันทึก</button>
                                    <button class="btn btn-lg btn-primary btn-cancel">ยกเลิก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="step3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 col-md-push-1">
                                <form id="addressPickupForm">
                                    <h1>ที่อยู่การรับสินค้า</h1>
                                    <div class="form-group">
                                        <label class="control-label">รหัสไปรษณีย์</label>

                                        <input ng-model="user.signupInfo.address.pickup.zipCode" name="pickupZipCode" type="text" placeholder="รหัสไปรษณีย์" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">จังหวัด</label>
                                        <select ng-model="user.signupInfo.address.pickup.province" name="pickupProvince" class="form-control">
                                            <option>เลือกจังหวัด</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">เขต / อำเภอ</label>
                                        <select ng-model="user.signupInfo.address.pickup.amphur" name="pickupAmphur" class="form-control">
                                            <option>เลือกเขต / อำเภอ</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">แขวง / ตำบล</label>
                                        <select ng-model="user.signupInfo.address.pickup.tumbon" name="pickupTumbon" class="form-control">
                                            <option>เลือกแขวง / ตำบล</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">ที่อยู่</label>

                                        <input ng-model="user.signupInfo.address.pickup.other" name="pickupAddress" type="text" placeholder="ที่อยู่" class="form-control" required />
                                    </div>
                                </form>
                                <div class="form-group">
                                    <input ng-model="user.signupInfo.address.isDocumentDropSamePickup" address-switch-documentdrop-same-pickup type="checkbox" /> ใช้ที่อยู่เดียวกันกับการส่งเอกสาร
                                </div>
                            </div>
                            <div class="col-md-5 col-md-push-2">
                                <form id="addressDocumentDropForm">
                                    <h1>ที่อยู่การส่งเอกสาร</h1>
                                    <div class="form-group">
                                        <label class="control-label">รหัสไปรษณีย์</label>

                                        <input ng-model="user.signupInfo.address.documentDrop.zipCode" name="documentDropZipCode" type="text" placeholder="รหัสไปรษณีย์" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">จังหวัด</label>
                                        <select ng-model="user.signupInfo.address.documentDrop.province" name="documentDropProvince" class="form-control">
                                            <option>เลือกจังหวัด</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">เขต / อำเภอ</label>
                                        <select ng-model="user.signupInfo.address.documentDrop.amphur" name="documentDropAmphur" class="form-control">
                                            <option>เลือกเขต / อำเภอ</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">แขวง / ตำบล</label>
                                        <select ng-model="user.signupInfo.address.documentDrop.tumbon" name="documentDropTumbon" class="form-control">
                                            <option>เลือกแขวง / ตำบล</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">ที่อยู่</label>

                                        <input ng-model="user.signupInfo.address.documentDrop.other" name="documentDropAddress" type="text" placeholder="ที่อยู่" class="form-control" required />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-5 col-md-push-1">
                                <div align="center" style="display: flex;">
                                    <button class="btn btn-lg btn-primary btn-save">บันทึก</button>
                                    <button class="btn btn-lg btn-primary btn-cancel">ยกเลิก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="step4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 col-md-push-1">
                                <h1>ข้อมูลฝ่ายขาย</h1>

                                <div class="form-group">
                                    <label class="control-label">โปรโมชั่นโค๊ด</label>
                                    <div style="display: flex;">
                                        <input name="promotionCode" type="text" placeholder="โปรโมชั่นโค๊ด" class="form-control" style="border-radius: 4px 0px 0px 4px; border-right: none; width: 70%;" required />
                                        <button style="width: 30%;">ตรวจสอบ</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">ค่าคอมมิชชั่น</label>

                                    <input name="commission" type="text" placeholder="" class="form-control" value="14%" readonly required />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">ชื่อพนักงานฝ่ายขาย</label>
                                    <div style="display: flex; align-items: center;">
                                        <input name="BDCode" type="text" placeholder="รหัส" class="form-control" style="width: 20%; margin-right: 10px;" readonly required />
                                        <span name="BDFirstName" style="margin-right: 10px;">ชื่อ</span>
                                        <span name="BDLastName" style="margin-right: 10px;">นามสกุล</span>
                                        (<span name="BDNickname" style="margin-right: 10px;">ชื่อเล่น</span>)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">เบอร์โทรศัพท์</label>
                                    <input name="BDPhone" type="text" placeholder="เบอร์โทรศัพท์" class="form-control" readonly required />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">LINE ID</label>
                                    <input name="BDLineID" type="text" placeholder="LINE ID" class="form-control" readonly required />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">อีเมล</label>
                                    <input name="BDEmail" type="text" placeholder="อีเมล" class="form-control" readonly required />
                                </div>
                            </div>
                        </div>
<!--
                        <div class = "row">
                            <div class="col-md-5 col-md-push-1">
                                <div align="center" style="display: flex;">
                                    <button class="btn btn-lg btn-primary btn-save">บันทึก</button>
                                    <button class="btn btn-lg btn-primary btn-cancel">ยกเลิก</button>
                                </div>
                            </div>
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</signup-page>
