body {
  font-family: 'Montserrat-Light', 'Montserrat-Regular', 'Kanit', 'Lato', Arial;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000080;
}
header .logo {
  width: 220px;
  margin-left: 20px;
}
.wrapper {
  display: flex;
}
.left-side {
  background-color: lavender;
}
.step-tabs {
  list-style-type: none;
  margin: 0px -15px;
  padding: 0px;
}
.step-tab {
  display: block;
  text-indent: 25%;
  padding: 15px 0;
  color: #000080;
  font-size: 16pt;
}
.step-tab:hover,
.step-tab:focus {
  color: #000080;
  background-color: #ffffff;
  text-decoration: none;
}
.form-control[readonly] {
  color: black;
}
.btn-save {
  margin: 15px 8px 15px 0px;
  width: 50%;
}
.btn-cancel {
  margin: 15px 0px 15px 8px;
  width: 50%;
}
